<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition | Dashboard</title>
    <link rel="stylesheet" href="public/scss/style.css">
</head>
<body>
    <header id="main-header" class="header">
        <div class="desktop-nav">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center h-100">
                    <a href="" class="brand">Nutrition</a>

                    <div class="desktop-navbar">
                        <ul class="d-flex list-unstyled mb-0">
                            <% if (userId) { %><li class="mx-3"><p>Current logged in user id: <%= userId %></p></li><% } %>
                            <li class="mx-3"><a href="#">Home</a></li>
                            <li class="mx-3"><a href="#">About</a></li>
                            <li class="mx-3"><a href="/calculator">Calculator</a></li>
                            <li class="mx-3"><a href="/register">Sign In</a></li>
                            <% if (userId) { %>
                                <form action="/session?_method=delete" method="POST">
                                    <button>Log Out</button>
                                </form>
                            <% } else{ %>
                                <li class="mx-3"><a href="/login">Login</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-nav d-none">
            <div class="container-fluid">
                <div class="d-flex justify-content-between">
                    <a href="#" class="brand">Nutrition</a>
                    <button type="button" id="hamburger">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
                <div class="desktop-navbar d-none">
                    <ul class="list-group list-unstyled mb-0">
                        <li class="py-2"><a href="#">Home</a></li>
                        <li class="py-2"><a href="#">About</a></li>
                        <li class="py-2"><a href="#">Our Team</a></li>
                        <li class="py-2"><a href="#">News</a></li>
                        <li class="py-2"><a href="#">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header> 
    <div id="hero">
        <div class="container-fluid p-0">
            <div class="hero-wrapper">
                <div class="banner-wrapper active">
                    <div id="hero-1" class="hero-banner vh-100 w-100">
                        <div class="container h-100 d-flex align-items-center">
                            <div class="banner-text">
                                <p class="sub-text text-primary">Welcome to nutritrion</p>
                                <h1 class="title">Eat Healthy. Be <strong class="text-primary">Healthy</strong>. Stay Positive</h1>
                                <p class="inner-text">Nutrition is all about providing infomation of your daily consumption</p>
                                <p class="btn-container">
                                    <a href="#" class="btn btn-primary mr-3">Read More</a>
                                    <a href="#" class="btn btn-dark">View Schedule</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-wrapper">
                    <div id="hero-2" class="hero-banner vh-100 w-100">
                        <div class="container h-100 d-flex align-items-center justify-content-end">
                            <div class="banner-text">
                                <p class="sub-text text-primary">Welcome to nutritrion</p>
                                <h1 class="title">Healthier Choices. Healthier <strong class="text-primary">Lifestyle</strong>.</h1>
                                <p class="inner-text">Nutrition is all about providing infomation of your daily consumption</p>
                                <p class="btn-container">
                                    <a href="#" class="btn btn-primary mr-4">Read More</a>
                                    <a href="#" class="btn btn-dark">View Schedule</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-wrapper">
                    <div id="hero-3" class="hero-banner vh-100 w-100">
                        <div class="container h-100 d-flex align-items-center">
                            <div class="banner-text">
                                <p class="sub-text text-primary">Welcome to nutritrion</p>
                                <h1 class="title">Nourishing With Healthy <strong class="text-primary">Food</strong> Choices</h1>
                                <p class="inner-text">Nutrition is all about providing infomation of your daily consumption</p>
                                <p class="btn-container">
                                    <a href="#" class="btn btn-primary mr-3">Read More</a>
                                    <a href="#" class="btn btn-dark">View Schedule</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main id="main-content">
        <section id="about" class="section-gap">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title text-center mb-3 pb-3">
                            <h3 class="text-dark">We Help Track Your Food</h3>
                            <p> The vast majority of health problems stem from nutrition</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-details">
                            <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime voluptatem, eius quisquam iste repellendus dignissimos, itaque ullam velit cupiditate necessitatibus error, sequi quam ex sapiente quod nam porro dolorem asperiores voluptate corrupti nemo? Velit sapiente veritatis repellat quia eum corrupti, harum reiciendis, ad, tempora libero autem iure? Eos, aspernatur ea ut quasi iusto soluta dolores pariatur reiciendis laborum ullam dolore quibusdam aperiam laudantium dolorum repellendus officia fugiat ipsum excepturi id rem iure non minima. Atque, soluta corrupti odit dignissimos deserunt voluptate veritatis optio eveniet culpa! Illo saepe hic placeat est adipisci corporis quae, reiciendis porro, praesentium quo vitae facilis odit.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-img">
                            <img src="public/images/weight.jpeg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="results">
            <div class="row justify-content-center align-items-center">
            <form class="" action="" method="" id="searchForm">
                <input type="text" name="searchtext" id="searchtext">
                <button type="submit">Search</button>
            </form>
            </div>

        </section>
        <!-- <div class="row justify-content-center align-items-center"> -->
            <h1>Nutrition Calculator</h1>

            <h3>Please input your daily calories target: </h3>
            <form action="">
              <input type="text">
              <button type="submit">Submit</button>
            </form>
            <div class="cart-items">
                TEXT
            </div>
            <button >CHECKOUT</button>
        <!-- </div> -->

    </main>
    <script src="https://kit.fontawesome.com/700d6a4023.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="public/js/client.js"></script>
    <script src="/public/js/store.js"></script>
</body>
</html>